<div class="container" >
      <form name="Application" ng-submit="getInfo()">

        <!-- Personal Details -->
        <div id="person-details" style="margin-left:40px;">
        <fieldset>
            <input class="col-md-5 " placeholder="First Name" type="text" ng-model="user.firstName">
          
          
          
            <input class="col-md-5" placeholder="Last Name" type="text" ng-model="user.lastName">
          
          
          
            <input class="col-md-5"  type="text" ng-model="user.age" placeholder="Age">
          
            <input class="col-md-5" type="text" ng-model="user.ssn" placeholder="Social Security"><br/>
            
          <div class="col-md-5" style="color:white; padding-top:10px; text-align:center">
          <input type="radio"  ng-model="user.gender" ng-value="true">
          <label>Male</label>
          
          <input type="radio"  ng-model="user.gender" ng-value="false">
          <label>Female</label>
          
          </div>

          <div class="col-md-5" style="color:white; padding-top:10px; text-align:center">
          <label>Married:</label>
          <input type="radio"  ng-model="user.married" ng-value="true">
          Yes
          <input type="radio"  ng-model="user.married" ng-value="false">  
          No
          
           </div>
          
        </fieldset>

        <!-- Financial Info FieldSet, includes jobs, debt, credit score and assets -->

        <!-- Jobs Fieldset and Div -->
        <fieldset>
          <div id="all-jobs" class="col-md-12">
            <div class="single-job" ng-repeat="job in jobs">
                <!--<select ng-model="job.industry" ng-options="job as job.label  for job in jobIndustry"></select>-->
              <input placeholder="Title" type="text" ng-model="job.title">
              <input placeholder="Company" type="text" ng-model="job.company">
              <input placeholder="Salary" type="text" ng-model="job.income">
            </div>
            <button id="jobButton" type= "button" ng-click="addJob()">Add Job</button><br>
          </div>  </br>

          <input placeholder="Debt" class="col-md-5" type="text" ng-model="user.debt">

          <input class="col-md-5"  type="text" ng-model="user.dependents" placeholder="# of Dependents">
          
        
          
         
          <!-- Assets Divs -->
          <div id= "all-assets" class="col-md-12">
            <div class="singleAsset"  ng-repeat="asset in assets"> 
                Type: <select ng-model="asset.type" ng-options="asset as asset.label  for asset in assetTypes"></select>
                Name: <input type="text" ng-model="asset.name">
                Value: <input type="text" ng-model="asset.value"><br>
            </div>    
            <button id="jobButton" type=button ng-click="addAsset()">Add Asset</button>
          </div>
        </fieldset>

        <!-- Loan reason, repayment term, and amount -->
        
        <select class="col-md-5" ng-options="reason.label for reason in reasonTypes"  ng-model="reason">
          <option value="">---Please select Reason---</option>
        </select></br>
        <input class="col-md-5" placeholder="Repayment Term" type="text" ng-model="repaymentTerm">
        <input  style="width:560px" placeholder="Requested" type="text" ng-model="amount">
        </div>
        <!-- Submit button -->
        <div class="col-md-10" style="padding-top:60px">
        <input type="submit"  id="submit-button"> <b ng-disabled="Application.$invalid">Submit</b> </input>
</form>
        </div>
      </div>
    </form>
</div>

